.di-housetour .houseLogoWrapper-3XZ6yo {
  margin: 10px;
}

.di-housetour {
  text-align: center;
}

.di-housetour .alignStretch-DpGPf3 {
  justify-content: center;
}

.di-housetour .alignStretch-DpGPf3 > * {
  cursor: pointer;
}